<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Tibia bosses to check</title>
<meta content="width=device-width" name="viewport">
<style>
	html {
		font: 1rem/1.6 sans-serif;
	}
	.table-wrapper {
		overflow-x: auto;
	}
	table {
		border-collapse: collapse;
		width: 100%;
		max-width: 25rem;
		margin-bottom: 1em;
		font-variant-numeric: tabular-nums;
	}
	thead th {
		background: #0a50c2;
		color: #FFF;
	}
	th, td {
		border: 1px solid #d6d6d6;
		padding: .5em 1em;
	}
	tbody tr:nth-child(odd) {
		background-color: #eee;
	}
	td:last-child {
		text-align: right;
	}
</style>
<meta name="robots" content="noindex">
<h1>Tibia bosses to check</h1>
<h2>Vunira</h2>
%%%DATA%%%
